@tailwind base;
@tailwind components;
@tailwind utilities;

a[href]:not(.no-underline) {
	@apply text-blue-500 underline decoration-blue-200 hover:decoration-current;
}

body {
	margin: 1em;
}

button {
	@apply border rounded-md px-3 leading-loose font-medium;
}
button:disabled {
	@apply border-dashed text-gray-400 cursor-not-allowed;
}
button:enabled {
	@apply active:translate-y-px;
	@apply hover:shadow-md;
}

button[type="submit"]:enabled {
	@apply text-white bg-blue-500 border-blue-700;
}