@tailwind base;
@tailwind components;
@tailwind utilities;

a[href]:not(.no-underline) {
	@apply text-blue-500 underline decoration-blue-200 hover:decoration-current;
}

body {
	margin: 1em;
}

button {
	@apply border rounded p-2 font-bold;
}
button:disabled {
	@apply border-dashed text-gray-500 cursor-not-allowed;
}
button:enabled {
	@apply border-transparent text-white bg-blue-500;
	@apply active:translate-y-1;
	@apply hover:cursor-pointer hover:shadow-md;
}
